body {
  margin: 0;
  background: #E6E2DD;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
  box-sizing: content-box;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
p{
  margin:0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
